<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/assets/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" href="/assets/apple-icon.png">
  </head>
  <body class="bg-slate-900 text-white">
    <div class="bg-amber-500 text-slate-900 text-center py-2 px-4 font-semibold text-sm">
      Diese Website ist noch im Aufbau
    </div>
    {{ content | safe }}
  </body>
</html>
