on:
  push:
    branches: [main]
  # run daily in case editors forget to trigger deploy via the google spreadsheet
  schedule:
    - cron: "0 0 * * *"
  # workflow_dispatch allows trigger via API, which is used by the google spreadsheet
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm
      - uses: actions/cache@v4
        with:
          path: og-images-cache.json
          key: og-images-cache-${{ github.run_id }}
          restore-keys: |
            og-images-cache-
      - run: npm ci && npm run build
        env:
          GOOGLE_SPREADSHEET_ID: ${{ secrets.GOOGLE_SPREADSHEET_ID }}
          GOOGLE_CLOUD_PLATFORM_API_KEY: ${{ secrets.GOOGLE_CLOUD_PLATFORM_API_KEY }}
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./_site
      - uses: actions/deploy-pages@v4
